.sidenav {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidenav,
.content::-webkit-scrollbar {
    display: none;
}

.sidenav div {
    border-left: solid 4px transparent;
}

.sidenav div:hover {
    background-color: rgb(232, 230, 230);
    border-left-color: red;
    cursor: pointer;

}